<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/attendance.js"></script>
</head>
<body>
    <center>
    <h1>Student attendance</h1>
    <div id="attendanceBlock" class="rectangle">
        <li>test1</li>
        <li>test2</li>
        <li>test3</li>
    </div>
    <div class="rectangle"></div>
    <script>
        get_students();
        setInterval(get_students, 1000)
    </script>
</center>
</body>
</html>