{% extends 'base.html' %}

{% block content %}
    <header>
        <h1> Docent home </h1>
    </header>
    <body>
    <h1>Docentenpagina</h1>

    <h2>Voeg een les toe</h2>
    <form id="lessonForm">
        <label for="name">Lesnaam:</label>
        <input type="text" id="name" name="name" required><br><br>
        <input type="submit" value="Les toevoegen">
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/app.js">
    </script>
</body>
{% endblock %}
