<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
    <link rel="stylesheet" href="/static/css.css" type="text/css">
</head>
<body>
    <center>
    <img src="/static/hrlogo.png" width="75" height="75">
    <h1>Docent login</h1>
    <div id="nav-placeholder">

</div>
<div class="container">
        <label username </label>
        <input type="text" placeholder="Enter Username" class="username" name="username" required>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button class="buttonstyle_red" type="submit">Login</button>
        <input type="checkbox" checked="checked">Remember me
        <r><a href="/" class="cancelbtn">Cancel</a></r>
    </div>
    </center>
</body>
</html>

<script src="../static/app.js"></script>