<!doctype html>
<html lang="en">
  <head>
      <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
  </head>
  <body>
    <center>
    <img src="/static/hrlogo.png"   width="80" height="75">
    <h1>Rotterdam Academy check-in system</h1>
    <p>Choose your role</p>
    <li><a href="/docentlogin" class="buttonstyle_red">Docent</a></li>
    <li><a href="/studentlogin" class="buttonstyle_red">Student</a></li>
    <li><a href="/adminlogin" class="buttonstyle_red">Admin</a></li>
    </ul>
</center>

      </nav>
    </div>
    <div class="container">
    </div>
  </body>
</html>