<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
    <center>
    <img src="/static/hrlogo.png" width="75" height="75">
    <h1>Rotterdam Academy check-in system</h1>
    <p>Choose your role</p>
    <li><a href="/docentlogin" class="buttonstyle_red">Docent</a></li>
    <li><a href="/studentlogin" class="buttonstyle_red">Student</a></li>
    <li><a href="/adminlogin" class="buttonstyle_red">Admin</a></li>
    </ul>
</center>
</body>
</html>