<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">

<center
<div class="form">
  <h1>Maak QRcode voor Lessen</h1>
  <form>
    <input type="url" id="website" name="website" placeholder="https://webisora.com" required />
    <button type="button" onclick="generateQRCode()">
      Generate QR Code
    </button>
  </form>

<div id="qrcode-container">
    <div id="qrcode" class="qrcode"></div>
    <div id="qrcode-2" class="qrcode"></div>
</div>
</div>

<script src="../static/app.js"></script>