{% extends 'stdlayout.html' %}

{% block content %}
<head><title>Student Home</title></head>
<body>
    <h1>Aanwezigheidstool</h1>
    <form id="attendanceForm">
        <label for="name">Naam:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="klas">Klas:</label>
        <input type="text" id="klas" name="klas" required><br><br>
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="aanwezig">Aanwezig</option>
            <option value="afwezig">Afwezig</option>
        </select><br><br>
        <input type="submit" value="Aanwezigheid bijwerken">
    </form>

    <script>
        document.getElementById("attendanceForm").addEventListener("submit", function(event) {
            event.preventDefault();

            var name = document.getElementById("name").value;
            var klas = document.getElementById("klas").value;
            var status = document.getElementById("status").value;

            var data = {
                "name": name,
                "status": status,
                "klas": klas
            };

            fetch('/attendance', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                // Voeg hier eventueel verdere verwerking toe
            })
            .catch(error => {
                console.error('Fout bij het bijwerken van de aanwezigheid:', error);
            });
        });
    </script>
</body>
<script src="../static/app.js">
</script>
{% endblock %}